main {
  margin-left: 20%;
  margin-right: 20%;
}

.container {
  position: relative;
  background-color: white;
  width: 100%;
  max-height: 70px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 40px rgb(89, 0, 255);
  transition: 0.3s;
  margin-bottom: 3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container:hover {
  box-shadow: 0 0 40px 3px rgb(89, 0, 255);
}

.images {
  overflow: hidden;
  border-radius: 10px 0 0px 10px;
}

.natur {
  width: 70px;
  height: 70px;
  border-radius: 10px 0 0 10px;
  transition: transform 0.3s;
}

.natur:hover {
  transform: scale(1.2);
}

.star {
  position: absolute;
  top: 10px;
  left: 90px;
  transform-origin: 0 0;
  transition: transform 1s ease-in-out;
  opacity: 0.3;
}

.container:hover .star,
.star:hover {
  transform: translate(-100%, 100%) rotate(360deg);
  opacity: 1;
}

.container h2 {
  position: absolute;
  top: -15px;
  left: 150px;
}

.container p {
  position: absolute;
  top: 12px;
  left: 280px;
}

.fa-plane {
  position: absolute;
  top: 14px;
  left: 90px;
  font-size: 2.5rem;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--page-background-color-night);
    color: var(--page-text-color-night);
  }
  .container {
    background-color: var(--page-background-color-night);
  }

  .header-text a {
    color: rgb(255, 16, 243);
  }
  .header-text a:hover,
  .header-text a:focus {
    background-color: rgb(89, 0, 255);
  }
}
